<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
 <!--   <context:annotation-config /> activates the annotation only for the beans already
    registered in the application context  -->
   
   
   <context:annotation-config /> <!-- to enable Annotaions in Spring -->
  
	<context:component-scan base-package="org.impelsys.model"/>  
  
  <!-- bean defintion -->
    <!--  <bean id="audi" class="org.impelsys.model.Car">	
  		<property name="type" value="luxury" />
  		<property name="model" value="mustang-1234" />
  	</bean> 
   <bean id="mustang" class="org.impelsys.model.Car">	
  		<property name="type" value="luxury" />
  
  	</bean> -->
   <bean id="mustangEngine" class="org.impelsys.model.Engine">	
  	<property name="engineType" value="3CylinderEngine" />
  	
  	</bean> 
  	<bean id="fordEngine" class="org.impelsys.model.Engine">	
  		<property name="engineType" value="3CylinderEngine" />
  	</bean>  
  </beans>