<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/test321"/>
		<property name="username" value="root"/>
		<property name="password" value="root"/>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="packagesToScan" value="org.impelsys.model"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hbm2ddl.auto">update</prop>
				<prop key="dialect">org.hibernate.dialect.MySQL8Dialect</prop>
				<prop key="show_sql">true</prop>
				<prop key="format_sql">true</prop>
			<!-- 	<prop key="current_session_context_class">thread</prop> -->
			</props>
		</property>
	</bean>
	<bean id="tnxManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>