<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   
 <!--   <context:annotation-config /> activates the annotation only for the beans already
    registered in the application context  -->
   
   
   <!--  <context:annotation-config />  --> <!-- to enable Annotaions in Spring -->

  <context:component-scan base-package="beans"/>   
<!-- <bean id="beanA" class="beans.BeanA"></bean>
<bean id="beanB" class="beans.BeanB"></bean>
<bean id="beanC" class="beans.BeanC"></bean> -->
</beans>